.imagebox {
    width: 70%;
    height: 270px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.image {
    width: 100%;
    margin: auto 0;
    max-height: 270px;
}